.Home{
  width: 100%;
  height: 100%;
  display: flex;
  .Menu{
    transition: all 0.2s ease-in-out;
    height: 100%;

  }
  .Content{
    flex: 1;
    min-width: 0; // 防止flex子项过度扩展，避免表格滚动条异常
    height: 100%;
    display: flex;
    flex-direction: column;
    .Title{
      width: 100%;
      height: 50px;
    }
    .Main{
      width: 100%;
      height: calc(100% - 50px);
      overflow: auto;
    }
  }
}

